[commit]
	gpgsign = true

[color]
	ui = auto

[core]
	editor = hx
	autocrlf = input

[credential]
	helper = osxkeychain

[fetch]
	prune = true

[gpg]
	format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

# [includeIf "hasconfig:remote.*.url:https://mercedes-benz.ghe.com/**"]
    # path = ~/.gitconfig-mb

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[tag]
	gpgsign = true

[user]
	name = Nicolas Herschke
	email = nicolas.herschke@gmx.de
	signingkey = /Users/nicolas/.ssh/id_ed25519.pub
